<template data-controller-name="valoremapp.ValoremAppHTML.controller.CambiarClave">
    <div id="app2" data-sap-ui-type="sap.m.App">
        <div id="page2" data-sap-ui-type="sap.m.Page" data-title="">
            <div data-sap-ui-aggregation="content">
                <div class="container-row">
                    <div class="row">
                        <div class="column left-cambiarclave" style=" margin:auto;">
                            <img src="./img/LOGOV1.jpg" alt="computer icon"
                                style=" width:400px;height:400px margin-bottom:80px; ">
                        </div>
                        <div class="column right" style="">
                            <h2 style="font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;">PORTAL DE
                                SERVICIOS: SAP HANA CLOUD</h2>

                            <div style="margin-top:20px;">
                                <form>

                                    <input type="text" id="txtusuarioclave" class="email" placeholder="Usuario">
                                    <br />
                                    <input type="password" id="txtpassclave" class="pwd"
                                        placeholder="Contraseña Actual">
                                    <br />
                                    <input type="password" id="txtpassclavenueva1" class="pwd"
                                        placeholder="Contraseña nueva">
                                    <br />
                                    <input type="password" id="txtpassclavenueva2" class="pwd"
                                        placeholder="Repetir contraseña nueva">
                                </form>
                            </div>

                            <br />
                            <br />
                            <div style="margin-left: 60%;">
                                <div class="wide-button">
                                    <button class="register" id="btnvolver" style="border-right: solid;   margin-left: auto;
    margin-right: auto;">
                                        <span>Volver</span>
                                    </button>
                                    <button class="register" id="btncambiarpass" style="border-right: solid;   margin-left: auto;
    margin-right: auto;">
                                        <span>Cambiar Contraseña</span>
                                    </button>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>