<template data-controller-name="valoremapp.ValoremAppHTML.controller.login">
	<div id="app" data-sap-ui-type="sap.m.App" data-showHeader="false">
		<div id="page" data-sap-ui-type="sap.m.Page" data-showHeader="false" >
			<div data-sap-ui-aggregation="content">
<div class="container-row">				
<div class="row">
  <div class="column left" style=" margin:auto;">
<img src="./img/LOGOV1.jpg" alt="computer icon" style=" width:400px;height:400px margin-bottom:80px; ">
  </div>
  <div class="column right" style="">
	<h2 style="font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;">PORTAL DE SERVICIOS: SAP HANA CLOUD</h2>	

  <div style="margin-top:20px;">
  <form >
    <input type="text" class="email" id="txtusuario" placeholder="Usuario">
    <br/>
    <input type="password" id="txtpass" class="pwd" placeholder="Contraseña">
  </form>
  </div>

  <br/>
  <br/>
  <div style="margin-left: 60%;">
  	<div class="wide-button">
<button class="register" id="btnRegistrar"  style="border-right: solid;">
<span>Inicar sesión</span>
</button>
<button class="signin" id="btnCambiarClave">
<span>Cambiar contraseña</span>
</button>
</div>
  </div>

 

 
  </div>
</div>
</div>

			</div>
		</div>
	</div>
</template>
